 body {
    height: 830px;
    background: linear-gradient(rgb(230, 230, 230), rgb(27, 193, 121));
    color: #000000;
    font-family: Arial, sans-serif;
}

h1 {
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
}

#board {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px; /* Adjusted width to account for the borders */
    height: 400px; /* Adjusted height to account for the borders */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    width: 100%;
    height: 100%;
    border: 5px solid #000000; 
    background-color: #e1e1e1;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    background-color: #d1ebc9;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; 
    height: 40px;
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #000000;
    font-size: 18px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #ff0000;
    color: #FFFFFF;
}
